//@import '~bootstrap/scss/bootstrap';

.card {
  width: 18rem;
  margin: 2rem 2rem;
  background: #FFFFCC;
}

input {
  background: #FFFFCC;
  border: none;
  height: 2rem;
}

textarea {
  background: #FFFFCC;
  border: none;
  resize: none;
  height: 100px;
}

.submit {
  text-decoration: underline;
  color: #5851ff;
}
